# Supabase Project Configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase PostgreSQL Database Settings
SUPABASE_DB_URL=
SUPABASE_DB_USERNAME=
SUPABASE_DB_PASSWORD=

# Google Gemini API Key
GEMINI_API_KEY=

# JWT Token Secret (At least 64 characters long for HS512)
JWT_SECRET=

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080,http://localhost:8081
